* {
    padding: 0px;
    margin: 0px;
}
#header{
    background-color: darkorange;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    height: 70vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.tile {
    height: 200px;
    width: 200px;
    background-color: blue;
}
